@model ML.Libro
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <section>
        <div class="row">
            <div class="=col-md-12">
                <h1 style="text-align:center; color:darkblue; font-family:Elephant">BIBLIOTECA</h1>
            </div>
        </div>
    </section>
    <section>

        <div class="row">
            <div class="col-md-12">
                <h5 style="color:black; font-family:'Bodoni MT'">SELECCIONE AGREGAR PARA REGISTRAR UN LIBRO O SELECCIONE BUSCAR PARA UNA BÚSQUEDA RÁPIDA </h5>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("GetAll", "Libro", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Nombre)
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-book"></i></span>
                            @Html.TextBoxFor(model => model.Portada, new { @class = "form-control", @id = "txtNombre" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Publicacion)
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-book"></i></span>
                            @Html.TextBoxFor(model => model.Publicacion, new { @class = "form-control", @id = "txtNombre" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Autor)
                        @Html.DropDownListFor(model => model.Autor.Nombre, new SelectList(Model.Autor.Autores, "Nombre", "Nombre"), "Selecciona una opción", new { @class = "form-control", @id = "txtRol"  })
                        @Html.ValidationMessageFor(model => model.Autor.IdAutor,null, new {@class ="text-danger"})
                        @Html.Label(null, "", new{@id="lblRol"})
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Editorial)
                        @Html.DropDownListFor(model => model.Editorial.Nombre, new SelectList(Model.Editorial.Editoriales, "Nombre", "Nombre"), "Selecciona una opción", new { @class = "form-control", @id = "txtRol"  })
                        @Html.ValidationMessageFor(model => model.Editorial.IdEditorial,null, new {@class ="text-danger"})
                        @Html.Label(null, "", new{@id="lblRol"})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div>
                            <input type="submit" value="Buscar" class="btn btn-info" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-1 ">
                            @Html.ActionLink("Agregar", "Form", "Libro", htmlAttributes: new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
    <section>

        <div class="row">
            @foreach (ML.Libro libro in Model.Libros)
            {

                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        @if (libro.Imagen == null || libro.Imagen == "")
                        {
                            <img class="card-img-top" id="Img" src="/images/product-not-found.png" alt="Card image cap" />
                        }
                        else
                        {
                            <img class="card-img-top" id="Img" src="data:image/*;base64,@libro.Imagen" alt="Card image cap" />
                        }
                        <div class="card-body ">
                            <h5 class="card-title card-header text-center bg-transparent" id="Nombre">@libro.Nombre</h5>
                            <p class="card-text" id="Titulo"> Titulo: @libro.Portada</p>
                            <p class="card-text" id="Fecha"> Fecha de publicacion: @libro.Publicacion</p>
                            <p class="card-text" id="Autor"> Autor: @libro.Autor.Nombre</p>
                            <p class="card-text" id="Editorial"> Editorial: @libro.Editorial.Nombre</p>

                            <a class="btn btn-info glyphicon glyphicon-edit" href="@Url.Action("LibroDescripcion", "Libro", new { IdLibro = libro.IdLibro })">Informacion</a>
                            @*<a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete" ,"Libro", new { IdProducto = libro.IdLibro})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');">Eliminar</a>*@
                        </div>
                    </div>
                </div>
            }
        </div>


    </section>

</div>
